<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- The URL endpoint for obtaining an OAuth 2.0 token from Salesforce -->
		<add key="tokenUrl" value="" />

		<!-- The client ID for the Salesforce connected app used for authentication -->
		<add key="clientId" value="" />

		<!-- The client secret for the Salesforce connected app used for authentication -->
		<add key="clientSecret" value="" />

		<!-- The username for the Salesforce account used to access the API -->
		<add key="username" value="" />

		<!-- The password for the Salesforce account used to access the API -->
		<add key="password" value="" />

		<!-- The security token for the Salesforce account used to access the API -->
		<add key="securityToken" value="" />

		<!-- The channel for the event being subscribed to, typically an event name in Salesforce -->
		<add key="channel" value="" />
	</appSettings>
</configuration>