@{
    ViewData["Title"] = "Home Page";
}
<style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            text-align: center;
        }
       
    </style>

<div class="landing-page">
    <h1>Welcome to Salesforce Platform Event Hub</h1>
    <p>This app allows you to keep tabs on all platform events in your Salesforce org.</p>
    <div class="buttons">
        <a href="/event/subscribe" class="button">Subscribe to Events</a>
        <a href="/event/monitor" class="button">Monitor Events</a>
    </div>
</div>